[user]
	name = ain
	email = ain@dummy.com
[core]
	editor = emacsclient -t
[color]
	ui = true
[alias]
	l = log --decorate --oneline
	ls = log --decorate --oneline --stat
	lg = log --decorate --oneline --graph
	co = checkout
	cob = checkout -b
	ci = commit
	st = status
	d  = status
	br = branch
	rmbr = branch -d
	mkbr = branch
	hist = log --graph --all --color --pretty=format:\" %C(yellow)%h%Creset %C(green)%an%Creset%x09%s %Cred%d%Creset\"
	unadd = reset HEAD --
	unstage = reset HEAD --